
.subheader-container {
    width: 100%;
    text-align: center;
    scroll-snap-stop: always;
}

.sub-heading .line {
    border: 1px solid red;
    opacity: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#anchor-about-me {
    position: relative;
    top: -100px;
    opacity: 0;
}

#anchor-project {
    position: relative;
    top: -100px;
    opacity: 0;
}

#anchor-contact {
    position: relative;
    top: -100px;
    opacity: 0;
}
