.projects-container {
    height: calc(100vh - 100px);
    width: 100%;
    background-color: rgb(66, 66, 66);
}

.project-content {
    height: 45%;
    width: 80%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;

}

.project-title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.4em;
}

.project-info {
    height: 100%;
    margin: 10px;
    grid-column: 1;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

.slideshow-container {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    grid-column: 2;
    grid-row: 1 / span 3;
    display: flex;
}

.content {
    width: fit-content;
    border: 3px solid black;
    &:hover{
        cursor: pointer;
        width: 900%;
        box-shadow: 5px red;
        transition: 0.3s ease-in;
    }

    &:nth-child(1){
        //width: 1000%;
    }

}
.slider-img{
    width: 100%;
    margin: 5px;
    background-color: aqua;
}