*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(66, 66, 66);
}
.name {
  color: red;
  
}

@import "./header/header";
@import "./about/about";
@import "./subline/sublines";
@import "./aboutMe/about-me";
@import "./projects/projects";
@import "./contact/contact";
@import "./footer/footer";